@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
       <div>
        <br />
        <img src="/home/getimage?url=http://www.funnyjunksite.com/wp-content/uploads/2007/04/funny_cat_pictures_092.jpg&h=150&w=170" />
        <br />
        <img src="/home/getimage?url=http://cnn.com&h=150&w=170" />
        <br />
        <img src="/home/getimage?url=http://reddit.com/&h=190&w=220" />
        <br />
        <img src="/home/getimage?url=http://thatstoday.com/community&h=50&w=70" />
        <br />
    </div>

</body>
</html>
